---
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation';
import Solutions from '../../components/Solutions';
import Footer from '../../components/Footer';
import Chatbot from '../../components/Chatbot';

const lang = 'en';
const title = 'Our AI Automation Solutions for Businesses – Automatisons';
const description = 'Save time and money by automating your business processes: discover our AI and RPA automation solutions.';
---

<Layout title={title} description={description} >
  <Navigation lang={lang} isHomePage={false} client:load />
  <main class="pt-16">
    <Solutions lang={lang} client:load />
  </main>
  <Footer lang={lang} client:load />
    {/*<Chatbot lang={lang} client:load />*/}
</Layout>